@model Project_Web___Veterinary_Clínic.Models.AppointmentViewModel

@{
    ViewData["Title"] = "Appointment Details";
}

<h1>Appointment Details</h1>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            Animal
        </dt>
        <dd class="col-sm-10">
            @Model.Animals.FirstOrDefault(a => a.Value == Model.AnimalId.ToString())?.Text
        </dd>
        <dt class="col-sm-2">
            Veterinarian
        </dt>
        <dd class="col-sm-10">
            @Model.Veterinarians.FirstOrDefault(v => v.Value == Model.VeterinarianId.ToString())?.Text
        </dd>
        <dt class="col-sm-2">
            Customer
        </dt>
        <dd class="col-sm-10">
            @Model.Customers.FirstOrDefault(c => c.Value == Model.CustomerId.ToString())?.Text
        </dd>
        <dt class="col-sm-2">
            Room
        </dt>
        <dd class="col-sm-10">
            @Model.Rooms.FirstOrDefault(r => r.Value == Model.RoomId.ToString())?.Text
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-success">Back to List</a>
</div>
