@model IEnumerable<Project_Web___Veterinary_Clínic.Data.Entities.Appointment>

@{
    ViewData["Title"] = "Appointments";
}

<h1 style="margin-bottom: 30px;">Appointments</h1>

@if (TempData["NotificationErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["NotificationErrorMessage"]
    </div>
}
@if (TempData["SuccessNotificationMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessNotificationMessage"]
    </div>
}

<div style="display:flex; justify-content:space-between;margin-bottom:30px;">
    <div style="display: flex; flex-direction:column;">
    <a asp-action="Create" class="btn btn-primary" style="margin-bottom:10px">Book Appointment</a>
    <a asp-controller="Appointments" asp-action="StaffAppointmentsHistory" class="btn btn-primary">Appointments history</a>
    </div>
    <div style="display:flex; flex-direction:column">
        <a asp-controller="Appointments" asp-action="SendAppointmentReminderEmails" class="btn btn-info" style="margin-left:auto; margin-bottom:10px;">Appointment Reminder</a>

        <a asp-controller="Appointments" asp-action="SendClosureNotification" class="btn btn-info">Notify All Customers of Closure</a>
    </div>
    
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().AppointmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animal.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animal.Species)
            </th>
            <th>
                Veterinarian
            </th>
            <th>
                Customer
            </th>
            <th>
                Room
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var appointment in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => appointment.AppointmentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => appointment.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => appointment.Animal.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => appointment.Animal.Species)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => appointment.Veterinarian.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => appointment.Animal.Owner.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => appointment.Room.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => appointment.Status)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@appointment.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@appointment.Id" class="btn btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@appointment.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>   
</table>

