@model IEnumerable<Project_Web___Veterinary_Clínic.Data.Entities.Appointment>

@{
    ViewData["Title"] = "My Appointments";
}

<h1>My Appointments</h1>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<a asp-action="CreateForCustomer" class="btn btn-primary" style="margin-bottom:10px">Book Appointment</a></br>
<a asp-action="ClientAppointmentsHistory" class="btn btn-info">Appointment History</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().AppointmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Animal.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Animal.Species)
            </th>
            <th>
                Veterinarian
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Room.Name)
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var appointment in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => appointment.AppointmentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => appointment.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => appointment.Animal.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => appointment.Animal.Species)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => appointment.Veterinarian.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => appointment.Room.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => appointment.Status) 
                </td>

                <td>
                    <a asp-action="Details" asp-route-id="@appointment.Id" class="btn btn-info">Details</a>
                    <a asp-action="Reschedule" asp-route-id="@appointment.Id" class="btn btn-warning">Reschedule</a>
                    <a asp-action="Cancel" asp-route-id="@appointment.Id" class="btn btn-danger">Cancel</a>
                </td>

            </tr>
        }

       
    </tbody>
</table>
