@model Project_Web___Veterinary_Clínic.Data.Entities.User

@{
    ViewData["Title"] = "Veterinarian Details";
}

<h2>Veterinarian Details</h2>

<div>
    <h4>Veterinarian Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">First Name</dt>
        <dd class="col-sm-10">@Model.FirstName</dd>

        <dt class="col-sm-2">Last Name</dt>
        <dd class="col-sm-10">@Model.LastName</dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.UserName</dd>

        <dt class="col-sm-2">Address</dt>
        <dd class="col-sm-10">@Model.Address</dd>

        <dt class="col-sm-2">Phone Number</dt>
        <dd class="col-sm-10">@Model.PhoneNumber</dd>
    </dl>

    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
